body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F7F7F7; /* light gray background */
}

.search-container {
    margin: 20px;
    text-align: center;
    background-color: #FFFFFF; /* white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    width: 200px;
    background-color: #F2F2F2; /* light gray background */
    color: #333333; /* dark gray text */
}

.search-container button[type="button"] {
    padding: 10px;
    font-size: 16px;
    background-color: #8BC34A; /* MCM green */
    color: #FFFFFF; /* white text */
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-container button[type="button"]:hover {
    background-color: #64BC32; /* MCM green hover */
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF; /* white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.current-weather {
    background-color: #F7F7F7; /* light gray background */
    padding: 20px;
    border-radius: 10px;
}

.current-weather h2 {
    margin-top: 0;
    color: #333333; /* dark gray text */
}

.current-weather p {
    color: #666666; /* medium gray text */
}

.forecast-container {
    margin-top: 20px;
}

.forecast-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.forecast-container li {
    background-color: #F7F7F7; /* light gray background */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forecast-container li h3 {
    margin-top: 0;
    color: #333333; /* dark gray text */
}

.forecast-container li p {
    color: #666666; /* medium gray text */
}

/* MCM-inspired color palette */
:root {
    --mcm-green: #8BC34A;
    --mcm-green-hover: #64BC32;
    --dark-gray: #333333;
    --medium-gray: #666666;
    --light-gray: #F7F7F7;
}
